{% extends "layout.html" %}

<html>
    <head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> </head>
    <body>
          {% block content %}

            <div class="g-signin2" data-width="300" data-height="200" data-longtitle="true">
                <div><img src="{{ url_for('static',filename='music_free_logo.png')}}" alt="logo"></div>
                <h1>Welcome to music improvisation platform</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus facere nostrum distinctio quia eos aut praesentium totam, officia perferendis nemo molestias cupiditate repudiandae nulla placeat ipsam ipsum alias incidunt recusandae minima debitis amet dolorum animi! Iste, porro suscipit alias sed nulla vero itaque harum deserunt obcaecati at voluptas debitis ratione aut totam magnam reprehenderit distinctio hic officiis! Nam porro corrupti ullam quos, debitis repudiandae. Quasi excepturi unde quod officia mollitia voluptatem saepe deserunt ad aliquid expedita ullam odio porro tenetur enim cumque, cupiditate perferendis voluptates consequatur, voluptate alias eveniet fuga adipisci ab. Quasi dolores repudiandae repellendus, doloribus nisi accusantium.</p>
            </div>
          {% endblock %}

    </body>
</html>

