{% extends "layout.html" %}

<html>
    <head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> </head>
    <body>
          {% block content %}

            <div class="g-signin2" data-width="300" data-height="200" data-longtitle="true">
                <div><img src="{{ url_for('static',filename='music_free_logo.png')}}" alt="logo"></div>
                <h1>Welcome to music improvisation platform</h1>
                <p>Welcome to the platform for making improvisations for melodies
                  On this site you can insert any tune you want when the file is displayed in XML format
                  You can create an improvisation from tunes you have on your computer or from the selection of tunes we have, which include original tunes and tunes created on the site by other users
                  All you have to do is create an account and start enjoying</p>
            </div>
          {% endblock %}

    </body>
</html>

