{% extends "layout.html" %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
          margin: 0;
        }

        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>
<body>

<div class="center">

  
  {% block content %}
  <div>Username: {{ name }}</div>
  <div>Email: {{ email }}</div>
  <br>
  <span>choose a XML file to improvise on: </span>
  <div class="center">
    
        <div>
          <button id="upload-file-button">Upload file from your computer for improvisation</button>
        </div>
        <form id="upload-file" style="visibility: hidden;" method="post" action="/uploaded" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xml, .XML" required>
            <input type="range" min="1" max="500" value="150" name="speed" oninput="this.nextElementSibling.value = this.value">
            <output>150</output>
            <button type="submit">Submit</button>
            <br/>
            <br/>
        </form>
    <div><button id="play">Choose file from database for improvisation</button></div>
        <div id="xml-list" style="visibility: hidden;">

          <form id="chosenForm" action="/chosen" method="post">
            <input type="range" min="1" max="500" value="150" name="speed" oninput="this.nextElementSibling.value = this.value">
            <output>150</output>
            <select id="xml_filename" name="xml_filename" form="chosenForm" name="xml-select" id="xml-select">
              {% for xml in xmls %}
                <option value="{{ xml[1] }}"> {{ xml[1] }}</option>
              {% endfor %}
            </select>
          <button type="submit">Get Improvisation</button>
        </form>
        </div>
    </div>
    <br/>
    <br/>
    <script>
      const xmlList = document.getElementById('xml-list');
      
      const playButton = document.getElementById('play');
        playButton.addEventListener('click',()=>{
          if(xmlList.style.visibility == 'hidden'){
            xmlList.style.visibility = 'visible';
          } else {
            xmlList.style.visibility = 'hidden';
          }
        })

      const uploadForm = document.getElementById('upload-file')
      const uploadFileButton = document.getElementById('upload-file-button');
      uploadFileButton.addEventListener('click', ()=>{
          if(uploadForm.style.visibility == 'hidden'){
            uploadForm.style.visibility = 'visible';
          } else {
            uploadForm.style.visibility = 'hidden';
          }
        })
    </script>
    {% endblock %}

</div>
</body>

</html>