
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Verovio
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">

{% endblock %}
{% block content %}

<div class="panel-body">
    <!-- <div><button id="show-notes">Show notes</button></div>
    <div id="app" class="panel" style="border: 1px solid lightgray; min-height: 800px; visibility:hidden;"></div> -->
    <main style="display: flex;">
      <section id="improv" style="flex: 1;">
        <div class="improv-controls noPrint">
          <button id="improv-btn-play">Play</button>
          <button id="improv-btn-pause">Pause</button>
          <button id="improv-btn-stop">Stop</button>
          <button id="improv-print">Print</button>
        </div>
        <div>
          <h2 id="improv-loading">Loading</h2>
        </div>
        <div id="improv-score" class="notes"></div>
      </section>
      <section id="original" style="flex: 1;">
        <div class="original-controls noPrint">
          <button id="original-btn-play">Play</button>
          <button id="original-btn-pause">Pause</button>
          <button id="original-btn-stop">Stop</button>
          <button id="original-print">Print</button>
        </div>
        <div>
          <h2 id="original-loading">Loading</h2>
        </div>
        <div id="original-score" class="notes"></div>
      </section>
    </main>
</div>

<script type="module">
    import 'https://www.verovio.org/javascript/app/verovio-app.js';

    const musicXmlImprov = `{{ music_xml_improv | safe }}`
    const musicXmlOriginal = `{{ music_xml_original | safe }}`
    
    function setVerovio(){
      // Create the app - here with an empty option object
      const verovioApp =document.getElementById("app")
      const app = new Verovio.App(verovioApp, {});
  
      const fileName = '{{ filename }}'
      console.log(musicXmlImprov)
      
      const showNotesButton = document.getElementById('show-notes');
      showNotesButton.addEventListener('click',()=>{
        if(verovioApp.style.visibility == 'hidden'){
          verovioApp.style.visibility = 'visible';
        } else {
          verovioApp.style.visibility = 'hidden';
        }
      })
  
      app.loadData(musicXmlImprov)

    }


  ///////////// improv
  const osmdImprov = new opensheetmusicdisplay.OpenSheetMusicDisplay(document.getElementById("improv-score"));
  const audioPlayerImprov = new OsmdAudioPlayer();

  const scoreXmlImprov = musicXmlImprov;
  await osmdImprov.load(scoreXmlImprov);
  await osmdImprov.render();
  await audioPlayerImprov.loadScore(osmdImprov);
  audioPlayerImprov.on("iteration", notes => {
    console.log(notes);
  });

  document.getElementById("improv-loading").style.display = "none";
  registerButtonEvents(audioPlayerImprov);


  function registerButtonEvents(audioPlayer) {
    document.getElementById("improv-btn-play").addEventListener("click", () => {
      if (audioPlayer.state === "STOPPED" || audioPlayer.state === "PAUSED") {
        audioPlayer.play();
      }
    });
    document.getElementById("improv-btn-pause").addEventListener("click", () => {
      if (audioPlayer.state === "PLAYING") {
        audioPlayer.pause();
      }
    });
    document.getElementById("improv-btn-stop").addEventListener("click", () => {
      if (audioPlayer.state === "PLAYING" || audioPlayer.state === "PAUSED") {
        audioPlayer.stop();
      }
    });
  }

  ///////////// improv
  const osmdOriginal = new opensheetmusicdisplay.OpenSheetMusicDisplay(document.getElementById("original-score"));
  const audioPlayerOriginal = new OsmdAudioPlayer();

  const scoreXmlOriginal = musicXmlOriginal;
  await osmdOriginal.load(scoreXmlOriginal);
  await osmdOriginal.render();
  await audioPlayerOriginal.loadScore(osmdOriginal);
  audioPlayerOriginal.on("iteration", notes => {
    console.log(notes);
  });

  document.getElementById("original-loading").style.display = "none";
  registerOriginalButtonEvents(audioPlayerOriginal);


  function registerOriginalButtonEvents(audioPlayer) {
    document.getElementById("original-btn-play").addEventListener("click", () => {
      if (audioPlayer.state === "STOPPED" || audioPlayer.state === "PAUSED") {
        audioPlayer.play();
      }
    });
    document.getElementById("original-btn-pause").addEventListener("click", () => {
      if (audioPlayer.state === "PLAYING") {
        audioPlayer.pause();
      }
    });
    document.getElementById("original-btn-stop").addEventListener("click", () => {
      if (audioPlayer.state === "PLAYING" || audioPlayer.state === "PAUSED") {
        audioPlayer.stop();
      }
    });
  }

  
  document.getElementById('original-print').addEventListener('click', async ()=>{
      document.getElementById('improv').classList.toggle('noPrint')
      window.print()
      document.getElementById('improv').classList.toggle('noPrint')
    })

    document.getElementById('improv-print').addEventListener('click',async ()=>{
      document.getElementById('original').classList.toggle('noPrint');
      window.print()
      document.getElementById('original').classList.toggle('noPrint')
    })
    </script> 
{% endblock %}